---
layout: bootcamp
root: .
venue: Instructor Training
address: 366 Adelaide Street West, Suite 500, Toronto, Ontario
country: Canada
humandate: April 28-30, 2014
humantime: 9:00 am - 4:30 pm
startdate: 2014-04-28
enddate: 2014-04-30
latlng: 43.64711,-79.39423
registration: open
instructor: ["Greg Wilson", "Warren Code"]
contact: gvwilson@software-carpentry.org
eventbrite: 9481333925
---
{% if page.eventbrite %}
<iframe src="http://www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt" frameborder="0" width="100%" scrolling="auto"></iframe>
{% endif %}

<h2>General Information</h2>

<p>
  <a href="http://software-carpentry.org">Software Carpentry</a>'s mission
  is to help scientists and engineers become more productive
  by teaching them basic lab skills for computing
  like program design, version control, data management, and task automation.
  This three-day workshop will introduce participants to
  educational psychology, instructional design, and modern teaching practices,
  and show them how to apply all three to be more effective educators.
</p>

{% if page.instructor %}
<p>
  <strong>Instructors:</strong>
  {{page.instructor | join: ', ' %}}
</p>
{% endif %}

<p>
  <strong>Who:</strong>
  This workshop is aimed at anyone who is interested in teaching Software Carpentry
  (or teaching programming to adults in general).
</p>

{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{ page.address }}.
  Get directions with
  <a href="http://www.openstreetmap.org/?mlat={{ page.latlng | replace:',','&mlon=' }}&zoom=16">OpenStreetMap</a>
  or
  <a href="http://maps.google.com/maps?q={{ page.latlng }}">Google Maps</a>.
</p>
{% endif %}

<p>
  <strong>Requirements:</strong>
  Please get a copy of <em><a href="http://www.amazon.com/How-Learning-Works-Research-Based-Principles/dp/0470484101/">How Learning Works</a></em> and read it <em>before</em> coming to the workshop.
</p>

<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<h2>Schedule</h2>

<table class="table table-striped">
  <tr>
    <th colspan="2"><strong>Monday April 28</strong></th>
  </tr>
  <tr>
    <td>08:30 - 09:00</td>
    <td>Sign-in</td>
  </tr>
  <tr>
    <td>09:30 - 09:45</td>
    <td>Opening remarks; housekeeping; a few key concepts</td>
  </tr>
  <tr>
    <td>09:45 - 10:30</td>
    <td>Prior knowledge</td>
  </tr>
  <tr>
    <td>10:30 - 10:45</td>
    <td>coffee</td>
  </tr>
  <tr>
    <td>10:45 - 12:00</td>
    <td>Concept maps and cognitive task analysis</td>
  </tr>
  <tr>
    <td>12:00 - 13:00</td>
    <td>lunch</td>
  </tr>
  <tr>
    <td>13:00 - 14:15</td>
    <td>Assessment, evaluation, and feedback</td>
  </tr>
  <tr>
    <td>14:15 - 14:30</td>
    <td>coffee</td>
  </tr>
  <tr>
    <td>14:30 - 15:30</td>
    <td>Aligning learning goals with assessment activities</td>
  </tr>
  <tr>
    <td>15:30 - 16:30</td>
    <td>Backward lesson design; homework assignment</td>
  </tr>
  <tr>
    <td>17:30 - ...</td>
    <td>Dinner</td>
  </tr>
  <tr>
    <th colspan="2"><strong>Tuesday April 29</strong></th>
  </tr>
  <tr>
    <td>08:30 - 09:00</td>
    <td>Sign-in</td>
  </tr>
  <tr>
    <td>09:00 - 09:15</td>
    <td>Recap</td>
  </tr>
  <tr>
    <td>09:15 - 10:30</td>
    <td>Motivation; stereotype threat; growth vs. fixed mindset</td>
  </tr>
  <tr>
    <td>10:30 - 10:45</td>
    <td>coffee</td>
  </tr>
  <tr>
    <td>10:45 - 12:00</td>
    <td>Live teaching (round 1)</td>
  </tr>
  <tr>
    <td>12:00 - 13:00</td>
    <td>lunch</td>
  </tr>
  <tr>
    <td>13:00 - 14:00</td>
    <td>Jennifer Campbell: experience with flipped classrooms</td>
  </tr>
  <tr>
    <td>14:00 - 15:00</td>
    <td>Remote teaching demo from Cohort 9</td>
  </tr>
  <tr>
    <td>15:00 - 15:15</td>
    <td>coffee</td>
  </tr>
  <tr>
    <td>15:15 - 16:30</td>
    <td>Making screencasts; homework assignment</td>
  </tr>
  <tr>
    <th colspan="2"><strong>Wednesday April 30</strong></th>
  </tr>
  <tr>
    <td>08:30 - 09:00</td>
    <td>Sign-in</td>
  </tr>
  <tr>
    <td>09:00 - 09:15</td>
    <td>Recap</td>
  </tr>
  <tr>
    <td>09:15 - 10:30</td>
    <td>Moving beyond isolated teaching; review of existing SWC materials</td>
  </tr>
  <tr>
    <td>10:30 - 10:45</td>
    <td>coffee</td>
  </tr>
  <tr>
    <td>10:45 - 12:00</td>
    <td>Collaborative lesson development (group exercise)</td>
  </tr>
  <tr>
    <td>12:00 - 13:00</td>
    <td>lunch</td>
  </tr>
  <tr>
    <td>13:00 - 14:30</td>
    <td>Live teaching (round 2)</td>
  </tr>
  <tr>
    <td>14:30 - 14:45</td>
    <td>coffee</td>
  </tr>
  <tr>
    <td>14:45 - 15:30</td>
    <td>Small-group discussion (topics chosen by participants)</td>
  </tr>
  <tr>
    <td>15:30 - 16:30</td>
    <td>Whole-group discussion; feedback on this training</td>
  </tr>
</table>

<ul>
  <li>
    Please arrive by 8:45 each morning so that we can start promptly.
  </li>
  <li>
    Everyone is invited to dinner on Monday night at Mr. Greenjeans,
    a family-friendly restaurant about a 20-minute walk from our venue.
  </li>
  <li>
    Unfortunately,
    while we can supply coffee and snacks,
    we are unable to cover the cost of lunch and dinner.
  </li>
</ul>
